 <mat-card class="example-card">
    <mat-card-title> Add Gig Details</mat-card-title>
        <br>
        
        <form #f="ngForm"  (ngSubmit)="onSubmit(f)">
            <mat-form-field appearance="fill">
                <mat-label>Gig Artist Name</mat-label>
                <input matInput name="gigArtistName" ngModel required>
            </mat-form-field>

            <mat-form-field appearance="fill">

                <mat-select placeholder = "Choose City"  (ngModelChange)="cityPass($event)"  ngModel name="gigVenueCity" required>
                    <mat-option value ="Manchester"> 
                        Manchester
                    </mat-option>  
                    <mat-option value ="Leeds"> 
                        Leeds
                    </mat-option>  
                    <mat-option value="Liverpool"> 
                        Liverpool
                    </mat-option>  
                </mat-select>
            </mat-form-field>
        <br>
    
   

        <mat-form-field appearance="fill">
            <mat-select placeholder = "Choose Venue" ngModel name="gigVenueName" required>
                <mat-option *ngFor="let venue of venues" [value]="venue.id"> 
                    <div *ngIf="venue.venueCity==city">
                         {{ venue.venueName }}
                    </div>
                </mat-option> 
            </mat-select>
        </mat-form-field>


        <br>
            <mat-form-field appearance="fill">

                <mat-select placeholder = "Genre"  ngModel name="genre" required>
                    <mat-option value ="Hip Hop"> 
                        Hip Hop
                    </mat-option>  
                    <mat-option value ="Funk"> 
                        Funk
                    </mat-option>  
                    <mat-option value ="Raggae"> 
                        Raggae
                    </mat-option>  
                    <mat-option value ="Soul"> 
                        Soul
                    </mat-option>  
                </mat-select>
            </mat-form-field>

        <br>
            <mat-form-field appearance="fill">
                <mat-label>Gig Description</mat-label>
                <textarea matInput name="gigDescription" ngModel required> </textarea>
            </mat-form-field>
        <br>
            <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" name="gigDate" ngModel required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker>
                    </mat-datepicker>
        <br> 
            <!-- <mat-form-field appearance="fill">
                <mat-label>Total Price</mat-label>
                <input matInput name="gigTotalPrice" ngModel required>
            </mat-form-field> -->
        <br>
                   


        <mat-card-actions>
            <button type="Submit" mat-raised-button [disabled]="f.invalid">  Add Gig </button>
        </mat-card-actions>
    </form>
</mat-card>
 
 <br> <br>
    <button  mat-raised-button (click)="Reset(f)">  Reset </button>
<br>


        
        <!-- <mat-form-field appearance="fill">
            <mat-select placeholder = "Choose Venue" ngModel name="gigVenueName" required>
                <ng-template ngFor let-venueName [ngForOf]="venues">
                <mat-option *ngFor="let venue of venues" [value]="venue.id"> 
                    {{ let-venueName.venueName }}
                </mat-option> 
                 </ng-template> 
            </mat-select>
        </mat-form-field> -->




        <!-- <ng-template ngFor let-venuecity [ngForOf]="venues">
            <button *ngIf="venuecity.venueCity==city">
              {{ venuecity.venueName }}
            </button> 
        </ng-template>

        
            <mat-form-field appearance="fill">
                <mat-select placeholder = "Choose Venue" ngModel name="gigVenueName" required>
                    <mat-option *ngFor="let venue of venues" [value]="venue.id"> 
                    {{ venue.venueName }}
                    </mat-option>  
                </mat-select>
            </mat-form-field> -->


            <!-- <mat-chip-list #chipList aria-label="Genre selection"

            matInput
            ngModel 
            name="gigGenre">
                <mat-chip
                    *ngFor="let Genre of Genres"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(Genre)">
                    {{Genre}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            <input
               
                matInput
                ngModel
                name="gigGenreValue" 
                placeholder="Genre..."
                #genresInput
                [formControl]="genreCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let Genre of filteredGenres | async" [value]="Genre">
                    {{Genre}}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field> -->
<!-- <form #f="ngForm"  (ngSubmit)="onSubmit(f)">
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Genre selection">
      <mat-chip
        *ngFor="let Genre of Genres"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(Genre)">
        {{Genre}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New genres..."
        #genresInput
        [formControl]="genreCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let Genre of filteredGenres | async" [value]="Genre">
        {{Genre}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>     -->

  