
<h1 mat-dialog-title> What is GigBus??</h1>


<mat-vertical-stepper mobile-step-text="true" >
  <mat-step label = 'About GigBus'>
    <ul>
      It's simple GigBus is a platform to enable folks from your town to see more gigs.
     </ul>
     <ul>
      The lack of public transport and high hotel cost are barrier to attending gigs.
     </ul>
     <ul>
      By using Gigbus you can see more gigs by grouping together to arrange and drive down transport costs home from the gig. 
     </ul>
  </mat-step>
  <mat-step label = 'How does it work'> 
    <ul>
    Sign up for a Gig by putting down a small deposit.
    </ul>
    <ul>
     We then have a number of days to drive down the cost per person for the transport, by getting more people signed up for the gig by word of mouth and sharing on social media.
    </ul> 
    <ul>
    
     </ul> 
    <ul>
     Once the bus is full you pay rest of the cost transport via the GigBus app.
    </ul>
    <ul>
     If the bus does not full up by the deadline and thus the target is not reached all deposits are refunded. 
    </ul>
    </mat-step>
    <mat-step label = 'What about the tickets?'> 
      <ul>
        Good question what about Tickets... 
      </ul>
      <ul>
         Gigbus is not a ticketing site,if the gig sells out during or 3 days after the deadline again all deposits are refunded. 
      </ul>
      <ul>
         GigBus shows you the options for tickets. 
      </ul>
    </mat-step> 
    
    <mat-step label = 'Gig Info'> 
      <ul>
     Okay so your up for {{passData.gigArtistName}} at the {{ passData.gigVenueName}} in {{ passData.gigVenueCity}}  on {{ passData.gigDate.toDate() | date  }} great choice!
    </ul>
      <ul>
     Share this as widely as you can to get the price down. 
    </ul>
    </mat-step>
    <mat-step label = 'Sign Up'> 
      <app-signup></app-signup> 
    </mat-step>
</mat-vertical-stepper> 

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">No </button>
</mat-dialog-actions>

    
