       

<mat-toolbar>

    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>   
    </div>


    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSearch()">
            <mat-icon>search</mat-icon>
        </button>   
    </div>

    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSearch()">
            <mat-icon>price</mat-icon>
        </button>   
    </div>
      
    <div> <a routerLink="/">gigBus</a></div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap= "10px" class="navigation-items">   
            <li *ngIf="!isAuth"> 
                <a class="a" style="cursor: pointer" routerLink="/signup" (click)="onToggleWhenLoginOrSignup()">
                    Sign Up
                </a>
            </li>
             <li *ngIf="!isAuth">
                <a class="a" style="cursor: pointer" routerLink="/login" (click)="onToggleWhenLoginOrSignup()">
                    Login
                </a>
            </li>
            <li *ngIf="isAuth && authType =='Punter'" >
                <a class="a" style="cursor: pointer" routerLink="/mygigs">
                    My Gigs
                </a>
            </li>

            <li *ngIf="isAuth"> 
                <a class="a" style="cursor: pointer" routerLink="">
                    All Gigs
                </a>
            </li>

            <li> 
                <a [ngClass]="{'grey' : isSearch, 'black': !isSearch}"  style="cursor: pointer" routerLink="" (click)="onToggleSearch()">
                    Search
                </a>
            </li>

            <li *ngIf="isAuth"> 
                <a class="a" style="cursor: pointer" routerLink="/price">
                    Price
                </a>
            </li>
       
            <li *ngIf="isAuth">
                <a>
                <button mat-button class="nav-items" [matMenuTriggerFor]="menu">Config</button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item routerLink="/addgigs">Add Gigs</button>
                      <button mat-menu-item routerLink="/addvenue">Add Venue</button>
                    </mat-menu>
                </a>
            </li>

            <li *ngIf="isAuth">
                <a style="cursor: pointer" (click)="onLogout()">
                    Logout
                </a>
            </li>     
        </ul> 
       
    </div>
    
</mat-toolbar>
<app-search *ngIf="isSearch"></app-search>
