<!-- <app-login></app-login> <br>
<app-signup></app-signup> <br>
<app-gig-card></app-gig-card> <br>
<app-gig-mine></app-gig-mine>
<app-gig-add></app-gig-add>
<app-sidenav-list></app-sidenav-list>
<app-header></app-header> -->


<!-- <router-outlet></router-outlet> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>       
    </mat-sidenav>

 

 <mat-sidenav-content> 
    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>   
    
        <main> 
            <router-outlet></router-outlet>
         </main>
  </mat-sidenav-content>

</mat-sidenav-container> 